div {
    width: 60%;
    margin: 20px auto;
    background-color: #ddd;
    box-shadow: 3px 3px 3px #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    margin-left: 50px;
}

button {
    font-size: 16px;
    margin-left: 50px;
    width: 15%;
}

.button {
    margin-top: 0px;
    width: 50%;
    float: left;
}

.button > a > button {
    width: 50%;
    margin-left: 25%;
}