div {
    width: 80%;
    margin: auto;
    background-color: #ddd;
    box-shadow: 3px 3px 3px #ddd;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
}

h2 {
    text-decoration: underline;
}

h2, p {
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a > p {
    padding: 10px 0px 10px 50px;

    -webkit-transition: background 0.3s ease-out 0s;
    -moz-transition: background 0.3s ease-out 0s;
    -o-transition: background 0.3s ease-out 0s;
    transition: background 0.3s ease-out 0s;
}

a > p:hover {
    background-color: #31d0ff;
}
